{% extends 'website_layouts/register_website.html' %}

{% block content %}
{% load static %}

  <body class="layout-centered bg-img" style="background-image: url({% static 'assets/img/main-website/view-1.jpeg' %});">


    <!-- Main Content -->
    <main class="main-content">

      <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
          <p><a href="#"><img src="{%static 'assets/img/main-website/logo-login.png' %}" alt="logo"></a></p>
        <h5 class="mb-7" style="text-align: center">Sign into your account</h5>

        <form method="post">
{#            <span style="color:red">{{ form.errors }}</span>#}
            <span style="color:red; font-weight: 300">
            {% for field, error in form.errors.items %}
                {% if field != '__all__' %}{{ field }}{% endif %}
                {{ error | striptags }} <br>
            {% endfor %}
            <br></span>
            {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="username" value="{{ name }}" placeholder="Username">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div><br>

{#          <div class="form-group flexbox py-3">#}
{#              <a class="text-muted small-2" href="user-recover.html" style="text-align: center">Forgot password?</a>#}
{#          </div>#}

          <div class="form-group">
            <button class="btn btn-block btn-primary" type="submit">Login</button>
          </div>
        </form>

{#        <div class="divider">Or Login With</div>#}
{#        <div class="text-center">#}
{#          <a class="btn btn-circle btn-sm btn-facebook mr-2" href="#"><i class="fa fa-facebook"></i></a>#}
{#          <a class="btn btn-circle btn-sm btn-google mr-2" href="#"><i class="fa fa-google"></i></a>#}
{#          <a class="btn btn-circle btn-sm btn-twitter" href="#"><i class="fa fa-twitter"></i></a>#}
{#        </div>#}

        <p class="text-center text-muted small-2">Don't have an account? <a href="{% url 'register_page' %}">Register here</a></p>
      </div>

    </main><!-- /.main-content -->


{% endblock %}
