{% extends 'website_layouts/main_website.html' %}

{% block content %}
{% load static %}


  <!-- Header -->
     <header id="home" class="header text-white h-fullscreen text-center text-lg-left" style="background-color: #000001" >
      <canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
      <div class="container">
        <div class="row align-items-center h-100">

          <div class="col-md-7 mx-auto">
              <h1 style="text-align:center"><strong>Our Mission</strong></h1><br>
            <br>

              <h5>
                <i class="ti-check text-success mr-2"></i>
                <span> Develop AI attendance system to our great clients</span>
              </h5>

              <h5>
                <i class="ti-check text-success mr-2"></i>
                <span> Support our customers once signing a contract</span>
              </h5>

              <h5>
                <i class="ti-check text-success mr-2"></i>
                <span> Stay updated our neural network to increase accuracy more and more</span>
              </h5>

              <h5>
                <i class="ti-check text-success mr-2"></i>
                <span> Deliver a high quality of face recognition</span>
              </h5>

          </div>

        </div>
      </div>
    </header><!-- /.header -->


{% endblock %}
