<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Check N Face, we are your future AI assistance. Check N Face is an attendance system using face recognition to check-in and check-out users (employees, students...etc). All of your data will stored online and you can review it anythime and anywhere.">
    <meta name="keywords" content="Face recognition, AI, attendance system by face recognition, attendance, attendance system, face recognition for attendance">
    <meta name="author" content="Laith Zayed">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Check N Face || Your Future AI Assistance for Attendance</title>

    <!-- Styles -->
    <link href="{%static 'assets/css/page.min.css' %}" rel="stylesheet">
    <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{%static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" href="{%static 'assets/img/main-website/favicon.png' %}">
    <style>::-webkit-scrollbar {width: 10px;}  ::-webkit-scrollbar-track { background: #9d9d9d;}  ::-webkit-scrollbar-thumb {background: #0c043c;}  ::-webkit-scrollbar-thumb:hover {background: linear-gradient(to bottom, #ff6600 0%, #333399 100%);}</style>
  </head>

  <body>

   {% block content %}

     {% endblock %}



    <!-- Scripts -->
    <script src="{%static 'assets/js/page.min.js' %}"></script>
    <script src="{%static 'assets/js/script.js' %}"></script>

  </body>
</html>
